<%- include(`${root}/view/layout_header`, { head: 'partial/_head', css: 'compare_code' }) %>
  <body class="un_body">
    <div class="un_div">
      <h1 class="un_h1">
        コード比較
      </h1>

      <p class="un_p">
        <%= message %>
      </p>
    </div>
  </body>
<%- include(`${root}/view/layout_footer`) %>
